body {
    background-color: black;
    font-family: monospace;
}

#table {
    width: 100%;
    height: 90vh;
    border-bottom: 30px solid brown;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color:green;
}

.chipImg{
    margin-left: 40px;
    margin-top: 20px;
    width: 200px;
}

.display-3{
    text-align: center;
}

#messages {

}

.points {

}

#dealer-points {

}

#player-points {

}

.hand {

}

#dealer-hand {

}

.playerImg{
    border-radius: 50px;
}

#player-hand {

}

.cardImg{
    width: 50px;
    padding: 5px;
}

.buttons {
    
}

#deal-button {

}

#hit-button {
    
}

#stand-button {
    
}

