body{
    height: 100%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
}

.container{
    background-color: green;
    width: 800px;
    padding: 50px;
    margin: 30px;
    height: 80%vh;
    border-bottom-left-radius: 80%;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 80%;
    border: 10px solid brown;

}

.display-3{
    text-align: center;
}


.card-details{    /*Comment this out once you get the js going */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5px;
    padding: 5px;
}

.cardImage{
    width: 50px;
    margin: 20px;
    padding: 5px;
}

.dealer, .player{
    padding: 50px;
    font-size: 30px;
}

.player1{
    border-radius: 50px;
}

.options{
    margin: 30px;
    /* padding: 50px; */
}
